<div class="text-white rounded mx-2">
  <h2 class="text-center">Search in columns</h2>
  <div class="col-6 mx-auto form-group">
    <form class="row g-3">
      <div class="col-lg-6">
        <select
          name="searchBy"
          class="form-select col-4"
          aria-label="select"
          [(ngModel)]="searchBy"
        >
          <option *ngFor="let col of columns" [value]="col.key" selected>
            {{ col.title }}
          </option>
        </select>
      </div>
      <div class="col-lg-6">
        <input
          (input)="onSearch($event)"
          class="form-control col-lg-4"
          type="text"
          placeholder="Search..."
          aria-label="search input"
        />
      </div>
    </form>
  </div>
</div>

<a
  [routerLink]="['/edit/bill/']"
  href="javascript:;"
  class="btn bg-gradient-dark text-sm col-12 mt-3"
>
  New bill
</a>
<div class="container-fluid py-1">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
          >
            <h6 class="text-white text-capitalize ps-3">Bills table</h6>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr
                cdkDropList
                cdkDropListOrientation="horizontal"
                class="collist"
                (cdkDropListDropped)="drop($event)"
              >
                <th
                  *ngFor="let col of columns"
                  (click)="setSort(col.key)"
                  cdkDrag
                  class="colBox text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center user-select-none"
                >
                  {{ col.title }}
                  <i
                    *ngIf="col.key === sortKey && sortDirection == 1"
                    class="fa fa-long-arrow-up"
                  ></i>
                  <i
                    *ngIf="col.key === sortKey && sortDirection == -1"
                    class="fa fa-long-arrow-down"
                  ></i>
                </th>
                <th></th>
                <th></th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let bill of billList
                    | filter : searchPhrase : searchBy
                    | sort : sortKey : sortDirection
                    | paginate : { itemsPerPage: 10, currentPage: page }
                "
              >
                <td
                  *ngFor="let col of columns"
                  class="align-middle text-center text-sm"
                >
                  <p
                    *ngIf="col.key == 'amount'"
                    class="text-xs font-weight-bold mb-0"
                  >
                    {{ bill[col.key] | currency : "USD" }}
                  </p>
                  <!-- !status -->
                  <p
                    *ngIf="col.key !== 'status' && col.key !== 'amount'"
                    class="text-xs font-weight-bold mb-0"
                  >
                    {{ bill[col.key] }}
                  </p>

                  <!-- status -->
                  <p
                    *ngIf="col.key === 'status'"
                    class="text-xs font-weight-bold mb-0"
                  >
                    <span
                      *ngIf="bill.status === 'paid'"
                      class="badge badge-sm bg-gradient-success"
                      >{{ bill.status }}</span
                    >
                    <span
                      *ngIf="bill.status === 'new'"
                      class="badge badge-sm bg-gradient-danger"
                      >{{ bill.status }}</span
                    >
                  </p>
                </td>
                <td class="align-middle">
                  <a
                    [routerLink]="['/edit/bill/', bill.id]"
                    href="javascript:;"
                    class="btn btn-warning text-xs mb-0"
                  >
                    <i class="fa fa-pencil"></i>
                    Edit
                  </a>
                </td>
                <td class="align-middle">
                  <a
                    (click)="removeBill(bill)"
                    class="btn btn-danger text-xs mb-0"
                    href="javascript:;"
                  >
                    <i class="fa fa-trash"></i>
                    Delete
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-center text-sm">
                  All bills:<strong> {{ billList.length }}</strong>
                </td>
                <td></td>
                <td class="align-middle text-center text-sm">
                  Expected Income:
                  <strong>{{
                    billList | sum : "amount" | currency : "USD"
                  }}</strong>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="badge badge-sm bg-gradient-danger">New:</span>
                  <strong class="me-1">
                    {{ billList | counter : "status" : "new" }}</strong
                  >
                  <span class="badge badge-sm bg-gradient-success">Paid:</span>
                  <strong class="me-1">
                    {{ billList | counter : "status" : "paid" }}</strong
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- loading screen -->
<div *ngIf="billList.length === 0" class="text-center">
  <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- /loading screen -->
<div *ngIf="billList.length > 0" class="d-flex justify-content-center col-12">
  <pagination-controls
    (pageChange)="page = $event"
    class="pagination"
  ></pagination-controls>
</div>
