<div class="p-5 text-white rounded mt-2">
  <h1 class="hotstitle text-center">Customer Editor</h1>
  <div class="hr-theme-slash-2">
    <div class="hr-line"></div>
    <div class="hr-icon"><i class="fa fa-circle"></i></div>
    <div class="hr-line"></div>
  </div>

  <div class="mt-4 p-5 rounded jumbotron">
    <div class="col-6 mx-auto form-group">
      <form
        (ngSubmit)="onSubmit(customer)"
        #customerForm="ngForm"
        *ngIf="customer$"
        class="row g-3"
      >
        <div class="col-lg-1" *ngIf="customer.id !== 0">
          <label for="id" class="text-dark font-weight-bold form-label formtext"
            >Id</label
          >
          <input
            [(ngModel)]="customer.id"
            #id="ngModel"
            name="id"
            type="text"
            class="form-control formtext"
            id="id"
            disabled="true"
          />
        </div>
        <div class="col-lg-5">
          <label
            for="fName"
            class="text-dark font-weight-bold form-label formtext"
            >Customer first name</label
          >
          <input
            [(ngModel)]="customer.firstName"
            #cFirstname="ngModel"
            name="fName"
            type="text"
            class="form-control formtext"
            id="fName"
            pattern=".{1,10}"
            required
          />
          <div
            [hidden]="
              cFirstname.valid || cFirstname.pristine || cFirstname.disabled
            "
            class="text-dark font-weight-bold"
          >
            Add fist name! (min 1, max 10 character)
          </div>
        </div>
        <div class="col-lg-6">
          <label
            for="lName"
            class="text-dark font-weight-bold form-label formtext"
            >Customer last name</label
          >
          <input
            [(ngModel)]="customer.lastName"
            #cLastName="ngModel"
            name="lName"
            type="text"
            class="form-control formtext"
            id="lName"
            pattern=".{1,10}"
            required
          />
          <div
            [hidden]="
              cLastName.valid || cLastName.pristine || cLastName.disabled
            "
            class="font-weight-bold text-dark"
          >
            Add last name! (min 1, max 10 character)
          </div>
        </div>

        <div class="col-lg-6">
          <label
            for="email"
            class="text-dark font-weight-bold form-label formtext"
            >E-mail</label
          >
          <input
            [(ngModel)]="customer.email"
            #cEmail="ngModel"
            name="email"
            type="email"
            class="form-control formtext"
            id="email"
            required
          />
          <div
            [hidden]="cEmail.valid || cEmail.pristine || cEmail.disabled"
            class="font-weight-bold text-dark"
          >
            Add an e-mail address!
          </div>
        </div>

        <div class="col-lg-2">
          <label
            for="addressZip"
            class="text-dark font-weight-bold form-label formtext"
            >Address (zip)</label
          >
          <input
            [(ngModel)]="customer.address.zip"
            #cAddressZip="ngModel"
            name="addressZip"
            type="text"
            class="form-control formtext"
            id="addressZip"
            required
          />
          <div
            [hidden]="
              cAddressZip.valid || cAddressZip.pristine || cAddressZip.disabled
            "
            class="font-weight-bold text-dark"
          >
            Add zip!
          </div>
        </div>

        <div class="col-lg-4">
          <label
            for="addressCountry"
            class="text-dark font-weight-bold form-label formtext"
            >Address (country)</label
          >
          <input
            [(ngModel)]="customer.address.country"
            #cAddressCountry="ngModel"
            name="addressCountry"
            type="text"
            class="form-control formtext"
            id="addressCountry"
            required
          />
          <div
            [hidden]="
              cAddressCountry.valid ||
              cAddressCountry.pristine ||
              cAddressCountry.disabled
            "
            class="font-weight-bold text-dark"
          >
            Add country!
          </div>
        </div>

        <div class="col-lg-4">
          <label
            for="addressCity"
            class="text-dark font-weight-bold form-label formtext"
            >Address (city)</label
          >
          <input
            [(ngModel)]="customer.address.city"
            #cAddressCity="ngModel"
            name="addressCity"
            type="text"
            class="form-control formtext"
            id="addressCity"
            required
          />
          <div
            [hidden]="
              cAddressCity.valid ||
              cAddressCity.pristine ||
              cAddressCity.disabled
            "
            class="font-weight-bold text-dark"
          >
            Add city!
          </div>
        </div>

        <div class="col-lg-4">
          <label
            for="addressStreet"
            class="text-dark font-weight-bold form-label formtext"
            >Address (street)</label
          >
          <input
            [(ngModel)]="customer.address.street"
            #cAddressStreet="ngModel"
            name="addressStreet"
            type="text"
            class="form-control formtext"
            id="addressStreet"
            required
          />
          <div
            [hidden]="
              cAddressStreet.valid ||
              cAddressStreet.pristine ||
              cAddressStreet.disabled
            "
            class="font-weight-bold text-dark"
          >
            Add street!
          </div>
        </div>

        <div class="col-lg-4">
          <label
            for="addressNotes"
            class="text-dark font-weight-bold form-label formtext"
            >Address (notes)</label
          >
          <input
            [(ngModel)]="customer.address.notes"
            #cAddressNotes="ngModel"
            name="addressNotes"
            type="text"
            class="form-control formtext"
            id="addressNotes"
            required
          />
          <div
            [hidden]="
              cAddressNotes.valid ||
              cAddressNotes.pristine ||
              cAddressNotes.disabled
            "
            class="font-weight-bold text-dark"
          >
            Add notes!
          </div>
        </div>

        <div class="col-lg-12">
          <label
            for="active"
            class="text-dark font-weight-bold form-label formtext"
            >Is this customer active?</label
          >
          <select
            [(ngModel)]="customer.active"
            #heroOwned="ngModel"
            name="active"
            id="active"
            class="form-select formtext"
          >
            <option
              *ngFor="let status of statusList"
              [value]="status.key"
              class="formtext"
            >
              {{ status.title }}
            </option>
          </select>
        </div>

        <div class="col-12 text-center">
          <button
            [disabled]="customerForm.form.invalid"
            (click)="onLoading()"
            type="submit"
            class="btn bg-gradient-dark"
          >
            {{ customer.id === 0 ? "Create new customer" : "Save changes" }}
            <div
              [hidden]="loading"
              class="spinner-border spinner-border-sm"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
